[submodule "xmarts/muk_rest"]
	path = xmarts/muk_rest
	url = git@github.com:xmarts/muk_rest.git
	branch = 15.0
[submodule "fieldservice_xma"]
	path = fieldservice_xma
	url = git@github.com:xmarts/fieldservice_xma.git

[submodule "xmarts/credit_limit_alert_update"]
	path = xmarts/credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 15.0

[submodule "xmarts/ga-stock-prearrival"]
	path = xmarts/ga-stock-prearrival
	url = git@github.com:xmarts/ga-stock-prearrival.git
	branch = 15.0-iberica

[submodule "xmarts/pack-ticket-report"]
	path = xmarts/pack-ticket-report
	url = git@github.com:xmarts/pack-ticket-report.git
	branch = 15.0-iberica

[submodule "xmarts/pos_multi_uom_price"]
	path = xmarts/pos_multi_uom_price
	url = git@github.com:xmarts/pos_multi_uom_price.git
	branch = 15.0

[submodule "xmarts/web-service"]
	path = xmarts/web-service
	url = git@github.com:xmarts/web-service.git
	branch = 15.0

[submodule "xmarts/xma-connector"]
	path = xmarts/xma-connector
	url = git@github.com:xmarts/xma-connector.git
	branch = 15.0
